<div class="inner-page registration-page profile-page">

  <div class="tabs-component" data-jscomp="components/tabs">
    <ul>
      <li><a href="#my_invest"><%= I18n.t(:profile_my_invest_title) %></a></li>
      <li><a href="#profile_settings"><%= I18n.t(:profile_settings_title) %></a></li>
    </ul>
    <div class="tabs-content" id="my_invest">
      <%= render 'partials/my_investments' %>
    </div>
    <div class="tabs-content" id="profile_settings">
      <%= render 'partials/profile_settings' %>
    </div>
  </div>
</div>
