<div class="inner-page registration-page">
  <h1 class="inner-page-main-title"><%= I18n.t(:settings_title) %></h1>

  <p class="default-text">Omdat GGIG gelooft in een toekomst met 100% duurzame energie, waarbij zoveel mogelijk
    huishoudens zelf hun energie opwekken, hebben we een unieke regeling voor eigenaren van zonnepanelen ontwikkeld.</p>


  <div data-jscomp="components/tabs">
    <ul>
      <li><a href="#tab-1">My Investments</a></li>
      <li><a href="#tab-2">Settings</a></li>
    </ul>
    <div class="tabs-content" id="tab-1">
      <%= render 'partials/my_investments' %>
    </div>
    <div class="tabs-content" id="tab-2">
      <%= render 'partials/profile_settings' %>
    </div>
  </div>
</div>
