<div class="inner-page registration-page">

  <p class="default-text">Omdat GGIG gelooft in een toekomst met 100% duurzame energie, waarbij zoveel mogelijk
    huishoudens zelf hun energie opwekken, hebben we een unieke regeling voor eigenaren van zonnepanelen ontwikkeld.</p>


  <div class="tabs-component" data-jscomp="components/tabs">
    <ul>
      <li><a href="#my_invest"><%= I18n.t(:profile_my_invest_title) %></a></li>
      <li><a href="#profile_settings"><%= I18n.t(:profile_settings_title) %></a></li>
    </ul>
    <div class="tabs-content" id="my_invest">
      <%= render 'partials/my_investments' %>
    </div>
    <div class="tabs-content" id="profile_settings">
      <%= render 'partials/profile_settings' %>
    </div>
  </div>
</div>
