@import "../partials/variables";
@import "../partials/mixins";

.investments-page {
    margin: 0 auto;
    max-width: 1260px;
    padding-top: 180px;
    .inner-page-main-title {
        position: absolute;
        left: 0;
        top: 90px;
        text-align: center;
        width: 100%;
    }
    .default-text {
        padding: 30px 20% 60px;
    }
    .projects-to-invest {
        background: url('/images/map_bg.gif') no-repeat 50% 100px;
    }
    .grid {
        padding-bottom: 110px;
        h5 {
            font-size: 28px;
            line-height: 36px;
            padding: 80px 130px 60px 130px;
        }
        table {
            tr {
                td {
                    height: 39px;
                    vertical-align: middle;
                }
                td:first-child {
                    width: 15%;
                }
                td:last-child {
                    padding-right: 20px;
                }
            }
            .default-btn {
                padding: 12px;
                width: 120px;
            }
        }
    }
    .participation-popup {
        .default-text {
            text-align: center;
        }
        .participations-table {
            margin: 0 auto 50px;
            width: 500px;
        }
        table {
            th {
                font-weight: normal;
                font-size: 14px;
                text-align: left;
                text-transform: uppercase;
                padding: 10px 10px 20px 10px;
            }
            td {
                border-top: 1px solid $light-grey2;
                border-bottom: 1px solid $light-grey2;
                padding: 15px 10px;
            }
        }
        .default-input {
            margin: 0;
            width: 70px;
        }
        .actions {
            padding-bottom: 50px;
            text-align: center;
            .default-btn {
                padding-left: 120px;
                padding-right: 120px;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .investments-page {
        width: auto;
        .inner-page-main-title {
            font-size: 36px;
            letter-spacing: 10px;
        }
    }
}

@media all and (max-width: 1050px) {
    .investments-page {
        .grid {
            .grid-container {
                overflow-x: scroll;
            }
        }
    }
}
