.investments-page {
    margin: 0 auto;
    max-width: 1260px;
    .default-text {
        padding: 30px 20% 60px;
    }
    .projects-to-invest {
        background: url('/images/map_bg.gif') no-repeat 50% 100px;
    }
    .grid {
        padding-bottom: 110px;
        h5 {
            font-size: 28px;
            line-height: 36px;
            padding: 80px 130px 60px 130px;
        }
        table {
            tr {
                td {
                    height: 39px;
                    vertical-align: middle;
                }
                td:first-child {
                    width: 15%;
                }
                td:last-child {
                    padding-right: 20px;
                }
            }
            .default-btn {
                padding: 12px;
                width: 120px;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .investments-page {
        width: auto;
        .inner-page-main-title {
            font-size: 36px;
            letter-spacing: 10px;
        }
    }
}

@media all and (max-width: 1050px) {
    .investments-page {
        .grid {
            .grid-container {
                overflow-x: scroll;
            }
        }
    }
}
