<div class="content-with-text">
  <h5>Om welke gegevens gaat het?</h5>

  <p>Om de gebruiksvriendelijkheid van onze site te garanderen gebruiken wij cookies. Een cookie is een eenvoudig, klein
    bestandje dat met de pagina’s van deze website wordt meegestuurd. Cookies worden gebruikt voor de metingen van
    webstatistieken en voor onderzoek onder de bezoekers van de website. Het cookiebestand wordt op uw computer
    opgeslagen en u kunt daarmee bij een vervolgbezoek op onze website worden herkend.</p>

  <p>Via onze website wordt ook een cookie geplaatst van het Amerikaanse bedrijf Google, als deel van de
    “Analytics”-dienst. Wij gebruiken deze dienst om bij te houden en rapportages te krijgen over hoe bezoekers de
    website gebruiken. Google kan deze informatie aan derden verschaffen indien Google hiertoe wettelijk wordt
    verplicht, of voor zover derden de informatie namens Google verwerken. Wij hebben hier geen invloed op. Wij hebben
    Google niet toegestaan de verkregen analytics informatie te gebruiken voor andere Google diensten.</p>

  <p>De informatie die Google verzamelt wordt zo veel mogelijk geanonimiseerd. Uw IP-adres wordt nadrukkelijk niet
    meegegeven. De informatie wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde Staten.
    Google stelt zich te houden aan de Safe Harbor principles en is aangesloten bij het Safe Harbor-programma van het
    Amerikaanse Ministerie van Handel. Dit houdt in dat er sprake is van een passend beschermingsniveau van eventuele
    persoonsgegevens. U kunt het gebruik van cookies weigeren door in uw browser de daarvoor geëigende instellingen te
    kiezen.</p>

</div>
