<footer>

  <div class="footer-block">

    <ul class="site-links">
      <li><a href="#">About us</a></li>
      <li><a href="#">Risks</a></li>
      <li><a href="#">Terms and condition</a></li>
      <li><a href="#">Privacy policy</a></li>
      <li><a href="#">Disclaimer</a></li>
    </ul>

    <ul class="contact-links">
      <li><span class="icon-phone-1"></span>0 880 444 555</li>
      <li><a href="mailto:info@ggig.com"><span class="icon-mail-2"></span>info@ggig.com</a></li>
    </ul>

    <small>&copy; Global Green Investment Group, 2015</small>

    <ul class="social-links">
      <li><a class="icon-twitter" href="http://twitter.com" target="_blank"></a></li>
      <li><a class="icon-facebook" href="http://facebook.com" target="_blank"></a></li>
    </ul>

  </div>

</footer>