<p class="default-text top-default-text"><%= I18n.t(:invest_funded_text) %></p>

<ul class="projects-list">
  <li class="project-block finished-project" style="background-image: url('/images/projects/1/small/img_1.jpg');">
    <span class="project-type"><i class="sun-icon"></i></span>

    <div class="project-location">ROTTERDAM, 3181 ML</div>
    <h4 class="project-name">Windpark</h4>

    <div class="project-price">
      <span>Successfully funded</span>
      350 000 <sup>&euro;</sup>
    </div>
    <div class="project-statistic">
      <span>100%<i>Funded</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>
    <div class="project-statistic">
      <span>7%<i>Return</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>

    <a href="#" class="default-btn primary-btn">View project</a>
  </li>
  <li class="project-block finished-project" style="background-image: url('/images/projects/1/small/img_1.jpg');">
    <span class="project-type"><i class="sun-icon"></i></span>

    <div class="project-location">ROTTERDAM, 3181 ML</div>
    <h4 class="project-name">Windpark</h4>

    <div class="project-price">
      <span>Successfully funded</span>
      350 000 <sup>&euro;</sup>
    </div>
    <div class="project-statistic">
      <span>100%<i>Funded</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>
    <div class="project-statistic">
      <span>7%<i>Return</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>

    <a href="#" class="default-btn primary-btn">View project</a>
  </li>
  <li class="project-block finished-project" style="background-image: url('/images/projects/1/small/img_1.jpg');">
    <span class="project-type"><i class="sun-icon"></i></span>

    <div class="project-location">ROTTERDAM, 3181 ML</div>
    <h4 class="project-name">Windpark</h4>

    <div class="project-price">
      <span>Successfully funded</span>
      350 000 <sup>&euro;</sup>
    </div>
    <div class="project-statistic">
      <span>100%<i>Funded</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>
    <div class="project-statistic">
      <span>7%<i>Return</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>

    <a href="#" class="default-btn primary-btn">View project</a>
  </li>
  <li class="project-block finished-project" style="background-image: url('/images/projects/1/small/img_1.jpg');">
    <span class="project-type"><i class="sun-icon"></i></span>

    <div class="project-location">ROTTERDAM, 3181 ML</div>
    <h4 class="project-name">Windpark</h4>

    <div class="project-price">
      <span>Successfully funded</span>
      350 000 <sup>&euro;</sup>
    </div>
    <div class="project-statistic">
      <span>100%<i>Funded</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>
    <div class="project-statistic">
      <span>7%<i>Return</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>

    <a href="#" class="default-btn primary-btn">View project</a>
  </li>
  <li class="project-block finished-project" style="background-image: url('/images/projects/1/small/img_1.jpg');">
    <span class="project-type"><i class="sun-icon"></i></span>

    <div class="project-location">ROTTERDAM, 3181 ML</div>
    <h4 class="project-name">Windpark</h4>

    <div class="project-price">
      <span>Successfully funded</span>
      350 000 <sup>&euro;</sup>
    </div>
    <div class="project-statistic">
      <span>100%<i>Funded</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>
    <div class="project-statistic">
      <span>7%<i>Return</i></span>
      <canvas data-jscomp="components/projectStatistic"
              data-percentage="100"
              class="canvas-statistic"
              width="100"
              height="100"></canvas>
    </div>

    <a href="#" class="default-btn primary-btn">View project</a>
  </li>
</ul>
