<header>

  <nav>
    <ul>
      <li><a href="#">Idea</a></li>
      <li><a href="#">Invest</a></li>
      <li class="active"><a href="#">About</a></li>
    </ul>
  </nav>

  <a href="/" class="logo">
    <object data="../images/ggig_logo.svg" type="image/svg+xml">
      <img src="../images/ggig_logo.png" />
    </object>
    <span></span>
  </a>

  <div class="auth-links">
    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </div>

</header>