<header>

  <nav>
    <ul>
      <li><a href="#">Idea</a></li>
      <li><a href="#">Invest</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>

  <a href="/" class="logo"></a>

  <div class="auth-links">
    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </div>

</header>