<p class="default-text top-default-text"><%= I18n.t(:profile_my_invest_text) %></p>

<div class="my-investments">

  <h1 class="inner-page-main-title"><%= I18n.t(:profile_my_invest_title) %></h1>

  <%= project_stats(true) %>

  <div class="my-investments-content">

    <!-- If no projects START -->
    <%= render 'partials/projects_slider', projects: @projects %>
    <!-- If has projects END -->

    <div class="view-all-projects">
      <a href="/invest#fundable" class="default-btn">View all Projects</a>
    </div>

  </div>

</div>
