<div class="content-with-text">
  <h5>Wat doen wij met deze gegevens?</h5>

  <p>Wij verzamelen uitsluitend die gegevens welke nodig zijn om onze Diensten te verlenen en bewaren alle gegevens die
    u op onze Website invoert of die u aan ons verstrekt wanneer u gebruik maakt van onze Diensten. Deze gegevens
    omvatten, maar zijn niet beperkt tot:</p>

  <ul>
    <li>het beoordelen en accepteren van een klant en het tot stand brengen en uitvoeren van overeenkomsten met klanten
      en relatiebeheer;
    </li>
    <li>het verwerken van gegevens voor marketingdoeleinden, waaronder het sturen van nieuwsbrieven;</li>
    <li>het factureren en innen van vorderingen ten behoeve van Vandebron en derden;</li>
    <li>het voldoen aan wettelijke verplichtingen;</li>
    <li>ten behoeve van managementinformatie, de ontwikkeling van producten en diensten en ter bepaling van de algemene
      strategie en het beleid;
    </li>
    <li>het behandelen van vragen, klachten en geschillen.</li>
  </ul>

  <p>Wij kunnen aanvullende gegevens over u ontvangen of verzamelen van derden en deze toevoegen aan de informatie die
    wij hebben verkregen, voor zover we deze nodig hebben om kwalitatief goede Diensten te kunnen verlenen, en voor
    zover toegestaan door de wet. Deze gegevens omvatten, maar zijn niet beperkt tot: demografische gegevens, gemiddeld
    energieverbruik en EDR score.</p>
</div>
