<ul class="statistic-circles">
  <li>
    <div>
      100 <em>MLN</em>
      <span><%= I18n.t(:stat_invested) %></span>
    </div>
  </li>
  <li>
    <div>
      6.5%
      <span><%= I18n.t(:stat_fixed_return) %></span>
    </div>
  </li>
  <li>
    <div>
      504.000
      <span><%= I18n.t(:stat_generated) %></span>
    </div>
  </li>
</ul>
