<div class="content-with-text">

  <h1 class="inner-page-main-title"><%= I18n.t(:legal_risks_title) %></h1>

  <h5>Om welke gegevens gaat het?</h5>

  <p>Wij verzamelen uitsluitend die gegevens welke nodig zijn om onze Diensten te verlenen en bewaren alle gegevens die
    u op onze Website invoert of die u aan ons verstrekt wanneer u gebruik maakt van onze Diensten. Deze gegevens
    omvatten, maar zijn niet beperkt tot:</p>

  <ul>
    <li>gegevens die u aan ons verstrekt wanneer u gebruikt maakt van onze Diensten, waaronder uw naam, leveringsadres,
      geslacht, e-mailadres, telefoonnummer, of u handelt uit naam van een bedrijf en zo ja, welk bedrijf, en
      rekeningnummer;
    </li>
    <li>aanvullende gegevens die u mogelijk aan ons verstrekt via social media, de Website of diensten van derden.</li>
  </ul>

  <p>Wij kunnen aanvullende gegevens over u ontvangen of verzamelen van derden en deze toevoegen aan de informatie die
    wij hebben verkregen, voor zover we deze nodig hebben om kwalitatief goede Diensten te kunnen verlenen, en voor
    zover toegestaan door de wet. Deze gegevens omvatten, maar zijn niet beperkt tot: demografische gegevens, gemiddeld
    energieverbruik en EDR score.</p>
</div>
