<section class="subscription">
  <h2><%= I18n.t(:subscr_title) %></h2>

  <p class="default-text"><%= I18n.t(:subscr_text) %></p>

  <form action="#" id="subscribeForm">

    <div class="updating-layer">
      <object data="../images/spinner.svg" type="image/svg+xml">
        Loading...
      </object>
    </div>
    <div class="message-box"></div>

    <input name="subscribe[name]"
           type="text"
           class="default-input"
           placeholder="<%= I18n.t(:subscr_name_field) %>"
           required="true"/>

    <input name="subscribe[email]"
           type="email"
           class="default-input"
           placeholder="<%= I18n.t(:subscr_email_field) %>"
           required="true"/>

    <input type="submit" class="default-btn" value="Stay informed" id="subscribe"/>
  </form>
</section>
