<section class="subscription">
  <h2><%= I18n.t(:subscr_title) %></h2>

  <p class="default-text"><%= I18n.t(:subscr_text) %></p>

  <form action="#">
    <input type="text" placeholder="<%= I18n.t(:subscr_name_field) %>" required="true"/>
    <input type="email" placeholder="<%= I18n.t(:subscr_email_field) %>" required="true"/>
    <input type="submit" class="default-btn" value="Stay informed"/>
  </form>
</section>
