<section class="subscription">
  <h2>Stay informed on new projects</h2>

  <p class="default-text">De producenten verkopen hun stroom, wij regelen verder alles. Van de administratie tot de
    klantenservice en de levering van 100% CO2 gecompenseerd gas.</p>

  <form action="#">
    <input type="text" placeholder="Name"/>
    <input type="email" placeholder="Email"/>
    <input type="submit" value="Stay informed"/>
  </form>
</section>