<div class="content-with-text">

  <h1 class="inner-page-main-title"><%= I18n.t(:legal_terms_title) %></h1>

  <h5>Om welke gegevens gaat het?</h5>

  <p>Wij verzamelen uitsluitend die gegevens welke nodig zijn om onze Diensten te verlenen en bewaren alle gegevens die
    u op onze Website invoert of die u aan ons verstrekt wanneer u gebruik maakt van onze Diensten. Deze gegevens
    omvatten, maar zijn niet beperkt tot:</p>

  <ul>
    <li>gegevens die u aan ons verstrekt wanneer u gebruikt maakt van onze Diensten, waaronder uw naam, leveringsadres,
      geslacht, e-mailadres, telefoonnummer, of u handelt uit naam van een bedrijf en zo ja, welk bedrijf, en
      rekeningnummer;
    </li>
    <li>aanvullende gegevens die u mogelijk aan ons verstrekt via social media, de Website of diensten van derden.</li>
  </ul>

  <p>Wij kunnen aanvullende gegevens over u ontvangen of verzamelen van derden en deze toevoegen aan de informatie die
    wij hebben verkregen, voor zover we deze nodig hebben om kwalitatief goede Diensten te kunnen verlenen, en voor
    zover toegestaan door de wet. Deze gegevens omvatten, maar zijn niet beperkt tot: demografische gegevens, gemiddeld
    energieverbruik en EDR score.</p>
</div>

<div class="content-with-text">
  <h5>Wat doen wij met deze gegevens?</h5>

  <p>Wij verzamelen uitsluitend die gegevens welke nodig zijn om onze Diensten te verlenen en bewaren alle gegevens die
    u op onze Website invoert of die u aan ons verstrekt wanneer u gebruik maakt van onze Diensten. Deze gegevens
    omvatten, maar zijn niet beperkt tot:</p>

  <ul>
    <li>het beoordelen en accepteren van een klant en het tot stand brengen en uitvoeren van overeenkomsten met klanten
      en relatiebeheer;
    </li>
    <li>het verwerken van gegevens voor marketingdoeleinden, waaronder het sturen van nieuwsbrieven;</li>
    <li>het factureren en innen van vorderingen ten behoeve van Vandebron en derden;</li>
    <li>het voldoen aan wettelijke verplichtingen;</li>
    <li>ten behoeve van managementinformatie, de ontwikkeling van producten en diensten en ter bepaling van de algemene
      strategie en het beleid;
    </li>
    <li>het behandelen van vragen, klachten en geschillen.</li>
  </ul>

  <p>Wij kunnen aanvullende gegevens over u ontvangen of verzamelen van derden en deze toevoegen aan de informatie die
    wij hebben verkregen, voor zover we deze nodig hebben om kwalitatief goede Diensten te kunnen verlenen, en voor
    zover toegestaan door de wet. Deze gegevens omvatten, maar zijn niet beperkt tot: demografische gegevens, gemiddeld
    energieverbruik en EDR score.</p>
</div>

<div class="content-with-text">
  <h5>Om welke gegevens gaat het?</h5>

  <p>Om de gebruiksvriendelijkheid van onze site te garanderen gebruiken wij cookies. Een cookie is een eenvoudig, klein
    bestandje dat met de pagina’s van deze website wordt meegestuurd. Cookies worden gebruikt voor de metingen van
    webstatistieken en voor onderzoek onder de bezoekers van de website. Het cookiebestand wordt op uw computer
    opgeslagen en u kunt daarmee bij een vervolgbezoek op onze website worden herkend.</p>

  <p>Via onze website wordt ook een cookie geplaatst van het Amerikaanse bedrijf Google, als deel van de
    “Analytics”-dienst. Wij gebruiken deze dienst om bij te houden en rapportages te krijgen over hoe bezoekers de
    website gebruiken. Google kan deze informatie aan derden verschaffen indien Google hiertoe wettelijk wordt
    verplicht, of voor zover derden de informatie namens Google verwerken. Wij hebben hier geen invloed op. Wij hebben
    Google niet toegestaan de verkregen analytics informatie te gebruiken voor andere Google diensten.</p>

  <p>De informatie die Google verzamelt wordt zo veel mogelijk geanonimiseerd. Uw IP-adres wordt nadrukkelijk niet
    meegegeven. De informatie wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde Staten.
    Google stelt zich te houden aan de Safe Harbor principles en is aangesloten bij het Safe Harbor-programma van het
    Amerikaanse Ministerie van Handel. Dit houdt in dat er sprake is van een passend beschermingsniveau van eventuele
    persoonsgegevens. U kunt het gebruik van cookies weigeren door in uw browser de daarvoor geëigende instellingen te
    kiezen.</p>

</div>

<div class="content-with-text">
  <h5>Om welke gegevens gaat het?</h5>

  <p>Wij verzamelen uitsluitend die gegevens welke nodig zijn om onze Diensten te verlenen en bewaren alle gegevens die
    u op onze Website invoert of die u aan ons verstrekt wanneer u gebruik maakt van onze Diensten. Deze gegevens
    omvatten, maar zijn niet beperkt tot:</p>

  <ul>
    <li>gegevens die u aan ons verstrekt wanneer u gebruikt maakt van onze Diensten, waaronder uw naam, leveringsadres,
      geslacht, e-mailadres, telefoonnummer, of u handelt uit naam van een bedrijf en zo ja, welk bedrijf, en
      rekeningnummer;
    </li>
    <li>aanvullende gegevens die u mogelijk aan ons verstrekt via social media, de Website of diensten van derden.</li>
  </ul>

  <p>Wij kunnen aanvullende gegevens over u ontvangen of verzamelen van derden en deze toevoegen aan de informatie die
    wij hebben verkregen, voor zover we deze nodig hebben om kwalitatief goede Diensten te kunnen verlenen, en voor
    zover toegestaan door de wet. Deze gegevens omvatten, maar zijn niet beperkt tot: demografische gegevens, gemiddeld
    energieverbruik en EDR score.</p>
</div>

<div class="content-with-text">
  <h5>Wat doen wij met deze gegevens?</h5>

  <p>Wij verzamelen uitsluitend die gegevens welke nodig zijn om onze Diensten te verlenen en bewaren alle gegevens die
    u op onze Website invoert of die u aan ons verstrekt wanneer u gebruik maakt van onze Diensten. Deze gegevens
    omvatten, maar zijn niet beperkt tot:</p>

  <ul>
    <li>het beoordelen en accepteren van een klant en het tot stand brengen en uitvoeren van overeenkomsten met klanten
      en relatiebeheer;
    </li>
    <li>het verwerken van gegevens voor marketingdoeleinden, waaronder het sturen van nieuwsbrieven;</li>
    <li>het factureren en innen van vorderingen ten behoeve van Vandebron en derden;</li>
    <li>het voldoen aan wettelijke verplichtingen;</li>
    <li>ten behoeve van managementinformatie, de ontwikkeling van producten en diensten en ter bepaling van de algemene
      strategie en het beleid;
    </li>
    <li>het behandelen van vragen, klachten en geschillen.</li>
  </ul>

  <p>Wij kunnen aanvullende gegevens over u ontvangen of verzamelen van derden en deze toevoegen aan de informatie die
    wij hebben verkregen, voor zover we deze nodig hebben om kwalitatief goede Diensten te kunnen verlenen, en voor
    zover toegestaan door de wet. Deze gegevens omvatten, maar zijn niet beperkt tot: demografische gegevens, gemiddeld
    energieverbruik en EDR score.</p>
</div>

<div class="content-with-text">
  <h5>Om welke gegevens gaat het?</h5>

  <p>Om de gebruiksvriendelijkheid van onze site te garanderen gebruiken wij cookies. Een cookie is een eenvoudig, klein
    bestandje dat met de pagina’s van deze website wordt meegestuurd. Cookies worden gebruikt voor de metingen van
    webstatistieken en voor onderzoek onder de bezoekers van de website. Het cookiebestand wordt op uw computer
    opgeslagen en u kunt daarmee bij een vervolgbezoek op onze website worden herkend.</p>

  <p>Via onze website wordt ook een cookie geplaatst van het Amerikaanse bedrijf Google, als deel van de
    “Analytics”-dienst. Wij gebruiken deze dienst om bij te houden en rapportages te krijgen over hoe bezoekers de
    website gebruiken. Google kan deze informatie aan derden verschaffen indien Google hiertoe wettelijk wordt
    verplicht, of voor zover derden de informatie namens Google verwerken. Wij hebben hier geen invloed op. Wij hebben
    Google niet toegestaan de verkregen analytics informatie te gebruiken voor andere Google diensten.</p>

  <p>De informatie die Google verzamelt wordt zo veel mogelijk geanonimiseerd. Uw IP-adres wordt nadrukkelijk niet
    meegegeven. De informatie wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde Staten.
    Google stelt zich te houden aan de Safe Harbor principles en is aangesloten bij het Safe Harbor-programma van het
    Amerikaanse Ministerie van Handel. Dit houdt in dat er sprake is van een passend beschermingsniveau van eventuele
    persoonsgegevens. U kunt het gebruik van cookies weigeren door in uw browser de daarvoor geëigende instellingen te
    kiezen.</p>

</div>

