<p class="default-text top-default-text"><%= I18n.t(:invest_trade_text) %></p>

<section class="grid">
  <h5 class="inner-page-sub-title"><%= I18n.t(:invest_trade_send_email).html_safe %></h5>

  <div class="grid-container">
    <table>
      <thead>
      <tr>
        <th>project name</th>
        <th>numbers of participations</th>
        <th>selling price</th>
        <th>return rate</th>
        <th>total € interest payed</th>
        <th>numbers of years left</th>
        <th>project status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>curacao</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>
          <a href="#" onclick="compSupport.callFunc('#participationsPopup', 'show')" class="default-btn">Make offer</a>
        </td>
      </tr>
      <tr>
        <td>curacao 2</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>
          <a href="#" onclick="compSupport.callFunc('#participationsPopup', 'show')" class="default-btn">Make offer</a>
        </td>
      </tr>
      <tr>
        <td>rembrand windpark</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
      </tr>
      <tr>
        <td>sint maarten</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
        <td>€ 498.20</td>
      </tr>
      </tbody>
    </table>
  </div>

</section>

<%= render 'partials/participations_popup' %>

<%= render 'partials/subscription' %>
