<div class="content-with-text">
  <h5><%= I18n.t(:about_mission_title_1) %></h5>
  <p><%= I18n.t(:about_mission_text_1) %><br><br><br><br></p>
  <h5><%= I18n.t(:about_mission_title_2) %></h5>
  <p><%= I18n.t(:about_mission_text_2) %></p>
</div>

