<h1 class="inner-page-main-title"><%= I18n.t(:about_the_team_title) %></h1>

<section class="team-tab">
  <ul class="founders">
    <li>
      <div class="team-img"><img src="/images/team/kramar.jpg" alt="Benoit van Beeck Calkoen"/></div>
      <h5>Benoit van Beeck Calkoen</h5>

      <div class="team-role">founder</div>
      <p>After my internships at ABN AMRO MeesPierson and later Philips Lighting, a master degree from Nyenrode Business
        University and a background in Law, I decided to</p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/kramar.jpg" alt="Benoit van Beeck Calkoen"/></div>
      <h5>Duco<br/> Van Rossem</h5>

      <div class="team-role">founder</div>
      <p>De Wolff Nederland Windenergie (WNW) is een bedrijf met ruim 20 jaar ervaring in windenergie en is één van de
        marktleiders in Nederland.</p>
    </li>
  </ul>

  <div class="separator-with-text">
    <div>
      <span>
        Advisory Board
      </span>
    </div>
    <hr/>
  </div>

  <ul>
    <li>
      <div class="team-img"><img src="/images/team/kramar.jpg" alt="Benoit van Beeck Calkoen"/></div>
      <h5>Vitaliy Dzhenkov</h5>

      <div class="team-role">project manager</div>
      <p>De Wolff Nederland Windenergie (WNW) is een bedrijf met ruim 20 jaar ervaring in windenergie en is één van de
        marktleiders in Nederland.</p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/kramar.jpg" alt="Benoit van Beeck Calkoen"/></div>
      <h5>Konstantin Kramarenko</h5>

      <div class="team-role">developer</div>
      <p>De Wolff Nederland Windenergie (WNW) is een bedrijf met ruim 20 jaar ervaring in windenergie en is één van de
        marktleiders in Nederland.</p>
    </li>
    <li>
      <div class="team-img"><img src="/images/team/kramar.jpg" alt="Benoit van Beeck Calkoen"/></div>
      <h5>Yuriy Nagorniy</h5>

      <div class="team-role">ui/ux designer</div>
      <p>De Wolff Nederland Windenergie (WNW) is een bedrijf met ruim 20 jaar ervaring in windenergie en is één van de
        marktleiders in Nederland.</p>
    </li>
  </ul>

</section>
