<div class="inner-page investments-page">
  <h1 class="inner-page-main-title"><%= I18n.t(:invest_title) %></h1>

  <p class="default-text">View the projects that you are interested in to further understand the risks and the return of
    a participation.</p>


  <div class="tabs-component" data-jscomp="components/tabs">
    <ul>
      <li><a href="#fundable">Fundable</a></li>
      <li><a href="#funded">Funded</a></li>
      <li><a href="#trade">Trade</a></li>
    </ul>
    <div class="tabs-content" id="fundable">
      <%= render 'partials/fundable' %>
    </div>
    <div class="tabs-content" id="funded">
      <%= render 'partials/funded' %>
    </div>
    <div class="tabs-content" id="trade">
      <%= render 'partials/trade' %>
    </div>
  </div>
</div>
