<div class="inner-page investments-page">
  <h1 class="inner-page-main-title"><%= I18n.t(:invest_title) %></h1>

  <p class="default-text">View the projects that you are interested in to further understand the risks and the return of
    a participation.</p>


  <div data-jscomp="components/tabs">
    <ul>
      <li><a href="#tab-1">Fundable</a></li>
      <li><a href="#tab-2">Funded</a></li>
      <li><a href="#tab-3">Trade</a></li>
    </ul>
    <div class="tabs-content" id="tab-1">
      <%= render 'partials/fundable' %>
    </div>
    <div class="tabs-content" id="tab-2">
      <%= render 'partials/funded' %>
    </div>
    <div class="tabs-content" id="tab-3">
      <%= render 'partials/trade' %>
    </div>
  </div>
</div>
