<div class="inner-page investments-page legal-page">
  <div class="tabs-component" data-jscomp="components/tabs">
    <ul>
      <% @page_legal.page_tabs.active.each do |tab| %>
        <li><%= link_to tab.tab_name, '#'.concat(tab.slug) %></li>
      <% end %>
    </ul>
    <% @page_legal.page_tabs.active.each do |tab| %>
      <div class="tabs-content" id="<%= tab.slug %>">
        <div class="content-with-text">
          <h1 class="inner-page-main-title"><%= tab.tab_name %></h1>
          <%= tab.description.html_safe %>
        </div>
      </div>
    <% end %>
  </div>
</div>
