<div class="inner-page project-description">
  <h1 class="inner-page-main-title"><%= I18n.t(:project_description_title) %></h1>

  <p class="default-text">Windpark Rembrandt geeft ter financiering van de bouw van het windpark een nieuwe
    obligatielening uit. </p>


  <div class="separator-with-text separator-with-icon">
    <div>
      <span>
        <i class="sun-icon"></i>
      </span>
    </div>
    <hr/>
  </div>

  <div class="project-location">ROTTERDAM, 3181 ML</div>

  <h3 class="project-amount">1 400 500<sup>&euro;</sup></h3>

  <%= render 'partials/project_descr_stat_circles' %>

  <section class="project-description-content">
    <div class="project-description-content-row">
      <div>
        <div class="block-with-text">
          <h5 class="inner-page-sub-title">Obligatielening Windpark Rembrandt</h5>

          <p>
            Obligatielening Windpark Rembrandt - combineer maatschappelijk en financieel rendement. Windpark Rembrandt
            geeft ter financiering van de bouw van het windpark een nieuwe obligatielening uit. De obligatielening
            bedraagt €1.100.000 en draagt een rente van 6,0% per jaar met een looptijd van 5 jaar.
            DuurzaamInvesteren geeft geen advies of oordeel over de proposities op het platform. De aanbieder van de
            propositie is te allen tijde verantwoordelijk voor de door hem aangeboden propositie en voor de naleving van
            uit de obligatieovereenkomst voortvloeiende afspraken met investeerders.
            Voor meer informatie verwijzen wij u naar de Algemene Voorwaarden.
            Zo is de wet in Nederland. 
            Klik hier voor een korte toelichting
          </p>
        </div>
      </div>
      <div><img src="/images/projects/1/description/project_descr_3.jpg" alt=""/></div>
    </div>
    <div class="project-description-content-row">
      <div>
        <div class="block-with-text">
          <h5 class="inner-page-sub-title">Obligatielening Windpark Rembrandt</h5>

          <ul>
            <li>U betaalt per obligatie €1.030, dat is de nominale waarde vermeerderd met de transactiekosten.</li>
            <li>De rentevergoeding van één obligatie bedraagt per jaar: 6,0% x de nominale waarde ad €1.000 = €60.</li>
            <li>Aan het einde van de looptijd ontvangt u de nominale waarde van uw obligatie(s) terug.</li>
            <li>Uw gemiddelde effectieve rendement is 5,3% op jaarbasis.</li>
          </ul>
        </div>
      </div>
      <div><img src="/images/projects/1/description/project_descr_2.jpg" alt=""/></div>
    </div>
    <div class="project-description-content-row">
      <div>
        <div class="block-with-text">
          <h5 class="inner-page-sub-title">Obligatielening Windpark Rembrandt</h5>

          <p>
            Obligatielening Windpark Rembrandt - combineer maatschappelijk en financieel rendement. Windpark Rembrandt
            geeft ter financiering van de bouw van het windpark een nieuwe obligatielening uit. De obligatielening
            bedraagt €1.100.000 en draagt een rente van 6,0% per jaar met een looptijd van 5 jaar.
            DuurzaamInvesteren geeft geen advies of oordeel over de proposities op het platform. De aanbieder van de
            propositie is te allen tijde verantwoordelijk voor de door hem aangeboden propositie en voor de naleving van
            uit de obligatieovereenkomst voortvloeiende afspraken met investeerders.
            Voor meer informatie verwijzen wij u naar de Algemene Voorwaarden.
            Zo is de wet in Nederland. 
            Klik hier voor een korte toelichting
          </p>
        </div>
      </div>
      <div><img src="/images/projects/1/description/project_descr_1.jpg" alt=""/></div>
    </div>
    <div class="project-description-content-row">
      <div>
        <div class="block-with-text">
          <h5 class="inner-page-sub-title">Obligatielening Windpark Rembrandt</h5>

          <p>
            Obligatielening Windpark Rembrandt - combineer maatschappelijk en financieel rendement. Windpark Rembrandt
            geeft ter financiering van de bouw van het windpark een nieuwe obligatielening uit. De obligatielening
            bedraagt €1.100.000 en draagt een rente van 6,0% per jaar met een looptijd van 5 jaar.
            DuurzaamInvesteren geeft geen advies of oordeel over de proposities op het platform. De aanbieder van de
            propositie is te allen tijde verantwoordelijk voor de door hem aangeboden propositie en voor de naleving van
            uit de obligatieovereenkomst voortvloeiende afspraken met investeerders.
            Voor meer informatie verwijzen wij u naar de Algemene Voorwaarden.
            Zo is de wet in Nederland. 
            Klik hier voor een korte toelichting
          </p>
        </div>
      </div>
      <div>
        <div class="block-with-text">
          <h5 class="inner-page-sub-title">Obligatielening Windpark Rembrandt</h5>

          <ul>
            <li>U betaalt per obligatie €1.030, dat is de nominale waarde vermeerderd met de transactiekosten.</li>
            <li>De rentevergoeding van één obligatie bedraagt per jaar: 6,0% x de nominale waarde ad €1.000 = €60.</li>
            <li>Aan het einde van de looptijd ontvangt u de nominale waarde van uw obligatie(s) terug.</li>
            <li>Uw gemiddelde effectieve rendement is 5,3% op jaarbasis.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="grid">
    <h5 class="inner-page-sub-title">single participant: standart amoritisaztion</h5>

    <div class="grid-container">
      <table>
        <thead>
        <tr>
          <th>year</th>
          <th>2015</th>
          <th>2016</th>
          <th>2017</th>
          <th>2018</th>
          <th>2019</th>
          <th>2020</th>
          <th>2021</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>payment to participant</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
        </tr>
        <tr>
          <td>beginning</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
        </tr>
        <tr>
          <td>interest</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
        </tr>
        <tr>
          <td>principal</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
        </tr>
        <tr>
          <td>ending balance</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
          <td>€ 498.20</td>
        </tr>
        </tbody>
      </table>
    </div>

  </section>

  <section class="project-controls">
    <a href="#" class="get-back icon-font icon-left-dir">All Projects</a>
    <a href="#" class="default-btn">Invest</a>
    <a href="#" class="get-pdf icon-font icon-pdf">
      <span>For more information see our</span>
      Information memorandum
    </a>
  </section>

</div>
