<p>Dear <%= @investor.user.full_name%>,</p>

<p>We are happy to announce that we have verified your details and received your payment.</p>
<p>You can view your investment on the platform by login at globalgreenenergyinvestments.com </p>

<p>Thank you very much!</p>

<p>Best regards,</p>
<p>Managing Director,</p>
<p>Benoit van Beeck Calkoen</p>
