<%= render 'partials/header' %>

<main>

  <div class="slider">
    123
  </div>

  <section class="projects-statistic">
    <p>Omdat GGIG gelooft in een toekomst met 100% duurzame energie, waarbij zoveel mogelijk huishoudens zelf hun energie opwekken, hebben we een unieke regeling voor eigenaren van zonnepanelen ontwikkeld.</p>

  </section>

</main>

<%= render 'partials/footer' %>