<%= render 'partials/header' %>

<main>

  <div class="slider">
    <h1>
      the accelerator
      <span>of green energy projects</span>
    </h1>
    <hr/>
    <p>Zo kan er nooit meer duurzame energie verkocht worden dan er echt is</p>
  </div>

  <section class="projects-statistic">
    <p class="default-text">Omdat GGIG gelooft in een toekomst met 100% duurzame energie, waarbij zoveel mogelijk
      huishoudens zelf hun
      energie opwekken, hebben we een unieke regeling voor eigenaren van zonnepanelen ontwikkeld.</p>

    <ul class="statistic-circles">
      <li>
        <div>
          50.000
          <span>investors</span>
        </div>
      </li>
      <li>
        <div>
          50.000
          <span>investors</span>
        </div>
      </li>
      <li>
        <div>
          50.000
          <span>investors</span>
        </div>
      </li>
      <li>
        <div>
          50.000
          <span>investors</span>
        </div>
      </li>
      <li>
        <div>
          50.000
          <span>investors</span>
        </div>
      </li>
    </ul>

  </section>

  <section>

    <h2>Latest project</h2>

    <p class="default-text">Je kiest zelf de producent en de manier van opwekken waar je achter staat, zo weet je zeker
      dat je geld goed terechtkomt.</p>

    <div class="projects-slider">
      slider
    </div>

  </section>

  <section class="key-values">
    <h2>Our key values</h2>

    <p class="default-text">De producenten verkopen hun stroom, wij regelen verder alles. Van de administratie tot de
      klantenservice en de levering van 100% CO2 gecompenseerd gas.</p>

    <ul>
      <li>
        <span>Easy</span>

        <p>Join a growing community of people investing in green project</p>
      </li>
      <li>
        <span>Transparant</span>

        <p>Join a growing community of people investing in green project</p>
      </li>
      <li>
        <span>Secure</span>

        <p>Join a growing community of people investing in green project</p>
      </li>
      <li>
        <span>Stable return</span>

        <p>Join a growing community of people investing in green project</p>
      </li>
      <li>
        <span>trade</span>

        <p>Join a growing community of people investing in green project</p>
      </li>
      <li>
        <span>Growing</span>

        <p>Join a growing community of people investing in green project</p>
      </li>
    </ul>

  </section>

  <%= render 'partials/subscription' %>

</main>

<%= render 'partials/footer' %>