/* Colors */

$black: #000;
$white: #fff;
$blue: #00bde3;
$blue-green: #26d5ba;


$grey: #404040;
$light-grey1: #818181;
$light-grey2: #e4e7e7;
$light-grey3: #9d9d9d;
$light-grey4: #e1e1e1;
$light-grey5: #f5f5f5;
