@import "variables";
@import "mixins";


header {

    object{
        pointer-events: none;
    }

    height: 93px;
    margin: 0 auto;
    max-width: 1600px;
    position: relative;

    nav {
        display: inline-block;
        padding-left: 14px;
        li {
            display: inline-block;
            list-style-type: none;
            a {
                border-top: 4px solid transparent;
                display: inline-block;
                color: $grey;
                font-size: 16px;
                font-weight: 900;
                height: 56px;
                padding: 33px 12px 0;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    border-top: 4px solid $blue;
                    color: $blue;
                }
            }
            &.active a {
                border-top: 4px solid $blue;
                color: $blue;
            }
        }
    }

    .logo {
        position: absolute;
        margin-left: -104px;
        left: 50%;
        top: 7px;
        object {
            position: relative;
            z-index: 1;
        }
        span {
            background: $white;
            display: block;
            @include border-radius(93px);
            height: 186px;
            margin-left: -93px;
            position: absolute;
            top: -59px;
            left: 50%;
            width: 186px;
        }
    }

    .auth-links {
        display: none;
        float: right;
        li {
            display: inline-block;
        }
    }

}