@import "variables";
@import "mixins";

header {

    @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));
    position: relative;
    z-index: 10;

    .header-block {
        height: 93px;
        margin: 0 auto;
        max-width: 1600px;
        position: relative;
        z-index: 10;
    }

    object {
        pointer-events: none;
    }

    nav {
        display: inline-block;
        height: 93px;

        .menu-control {
            cursor: pointer;
            display: none;
            font: normal 28px icon_font;
        }

        li {
            display: inline-block;
            list-style-type: none;
            a, span {
                border-top: 4px solid transparent;
                display: inline-block;
                color: $grey;
                cursor: pointer;
                font-size: 16px;
                font-weight: 900;
                height: 56px;
                padding: 33px 20px 0;
                text-decoration: none;
                text-transform: uppercase;
                @include transition(border-color 0.3s ease-in-out, color 0.3s ease-in-out);
                &:hover {
                    border-color: $blue;
                    color: $blue;
                }
            }
            &.active a, &.active span {
                border-top: 4px solid $blue;
                color: $blue;
            }
        }
        .site-links {
            padding-left: 20px;
        }
        .auth-links {
            position: absolute;
            right: 0;
            top: 0;
            padding-right: 20px;
            li {
                a {
                    color: $blue;
                }
                &.active a {
                    border-top: 4px solid $blue;
                    color: $blue;
                }
            }
            li.login-link span {
                color: $blue-green;
                &:hover {
                    border-color: $blue-green;
                    color: $blue-green;
                }
            }
        }
    }

    .logo {
        height: 112px;
        margin-left: -104px;
        position: absolute;
        left: 50%;
        top: 7px;
        width: 207px;
        object {
            position: relative;
            z-index: 10;
        }
        span {
            display: block;
            margin-left: -93px;
            position: absolute;
            top: 86px;
            left: 50%;
            height: 55px;
            width: 186px;
            overflow: hidden;

            i {
                background: $white;
                display: block;
                top: -141px;
                position: absolute;
                height: 186px;
                width: 186px;
                @include border-radius(93px);
                @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.5));
            }
        }

    }

}
