@import "variables";
@import "mixins";


main {

    margin: 0 auto;
    max-width: 1600px;

    .slider {
        border: 1px solid red;
        height: 600px;
    }

    .projects-statistic {
        .statistic-circles li {
            background: url('../images/circles_border.png') no-repeat;
            @include border-radius(85px);
            height: 171px;
            width: 171px;
        }
    }

}