@import "variables";
@import "mixins";

.subscription {
    margin-bottom: 90px;
    form {
        background-color: rgba(38, 213, 186, 0.2);
        padding: 26px 50px 36px;
        position: relative;
        text-align: center;
        input[type='text'], input[type='email'] {
            border: 0;
            background-color: $white;
            color: $grey;
            font-size: 16px;
            font-weight: bold;
            margin: 0 11px;
            padding: 19px;
            text-transform: uppercase;
            width: 260px;
            @include box-shadow(0, 0, 24px, rgba(0, 0, 0, 0.15));
            @include border-radius(5px);
        }
        .default-btn {
            margin: 30px auto 0;
            padding: 16px 90px;
        }
    }
    p {
        padding-bottom: 65px;
    }
    .updating-layer {
        background: rgba(0, 0, 0, 0.3);
        color: $white;
        display: none;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        width: 100%;
        object {
            position: absolute;
            top: 92px;
        }

    }
    .message-box {
        padding-bottom: 20px;
        .success-msg {
            color: $green;
        }
        .error-msg {
            color: $red;
        }
    }
}
