<div class="inner-page">
  <h1 class="inner-page-main-title">Subscription</h1>
  <h2 class="inner-page-sub-title" style="text-align: center; padding: 50px 0; font-size: 28px;"><%= @status %></h2>
</div>
