<!DOCTYPE html>
<html>
<head>
  <title>GGIG</title>
  <%#= stylesheet_link_tag 'ninja-slider' %>
  <%= stylesheet_link_tag 'index' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%#= javascript_include_tag 'ninja-slider' %>
</body>
</html>