<!DOCTYPE html>
<html>
<head>
  <title>GGIG</title>
  <%= stylesheet_link_tag 'index' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

<script src="javascripts/index.js"></script>

</body>
</html>
